<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pahanez.maz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/abLinear"
        
         >
        <activity
            android:name=".MazActivity"
            android:label="@string/app_name"
            android:theme="@style/MazTheme"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMaz" />
        <activity android:name=".About" android:theme="@style/About"/>
        <activity android:name=".TruckAct" android:theme="@style/bgDialog"/>
        <activity android:name=".Truck447131" android:theme="@style/bgDetails"/>
        <activity android:name=".Truck6430a5" android:theme="@style/bgDetails"/>
         <activity android:name=".Truck6517" android:theme="@style/bgDetails"/>
        
       
    </application>

</manifest>